@keyframes slidein {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(10%);
    opacity: 1;
  }
}

@keyframes slideout {
  0% {
    transform: translateX(10%);
    opacity: 1;
  }

  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}


.slidein {
  animation: slidein 1s forwards;
}

.slideout {
  animation: slideout 1s forwards;
}